



.panel{
    margin:0 auto;
  
}
@media (min-width: 769px) {
    .header{
        margin:0px auto;
        width:1200px;
    }
    .panel{
         margin:0px auto;
         width:1000px;
        
     }
   }
@media (max-width: 768px) {
   .panel{
        margin:0px auto;
       
    }
  }


  /* Article page style */

  #article .article-panel{

    border:5px solid #695656;
    border-radius:45px;
    height:800px;
  }




/* edit Page */
#cke_1_resizer{
    display:none;
    visibility: hidden;
}

#cke_1_contents{

    height:800px !important;
    box-shadow:0 0 0 0;

}
#chatroom form { border:5px solid black; padding: 3px; position: fixed; bottom: 20px; width: 40%; }
#chatroom form input { border:1px solid bisque; padding: 10px; width: 90%; }
#chatroom form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#chatroom #messages{
    background: rgb(230, 230, 241);
    min-height:800px;
}