<!DOCTYPE HTML>
<html>
    <head>
        <title>loginApp</title>
        <link rel="stylesheet" href="/css/bootstrap.css" type='text/css'>
        <link rel="stylesheet" href="/css/style.css" type='text/css'>
     
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='header'>
             <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
           
            <h5 class="my-0 mr-md-auto font-weight-normal">loginApp</h5>
            
            <nav class="my-2 my-md-0 mr-md-3">
           
            <a class="p-3 text-dark" href="/">Home</a>
             {{#if user}}
         

         
                <a class="btn btn-outline-primary" href="/users/logout">Logout</a>
            {{else}}
               <a class="p-3 text-dark" href="/users/login">Login</a>
           
                <a class="p-3 text-dark" href="/users/register">Register</a>
           
             {{/if}}
            </div>
            <hr>
        </div>
       
        {{{body}}}
    </body>
</html>